@media screen and (max-width: 487px) {
    header{
        position: static;
            nav{
                ul{
                    flex-direction: column;
                    align-items: center;
                }
                li{
                    margin: 2px;
                    align-items: center;
                }
            }
        }
    }