@media screen and (max-width: 480px) {
    footer h2{
        font-size: 15px;
    }
    header{
        h1{
            font-size: 40px;
        }
    }
    .grid-galeria{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
    "grid-item1" 
    "grid-item2" 
    "grid-item3" 
    "grid-item4" 
    "grid-item5" 
    "grid-item6"
    ;
        h3{
            font-size: 10px;
        }
        h2{
            font-size: 10px;
        }
        p{
            font-size: 15px;
        }
    }
    .nosotros{
        p{
            font-size: 12px;
        }
    }
    .productos{
        h2{
            font-size: 24px;
        }
    }
}