@media screen and (max-width: 570px) {
    .titulosecundario {
        font-size: 30px;
    }
    .welcome {
        p{font-size: 28px;}
    }
    .contactodatos{
        h3{
            font-size: 18px;
        }
    }
    .contactodondeencontrarnos{
        h4{
            font-size: 18px;
        }
    }
    .contactodatos{
        font-size: 13px;
    }
    .contactodejanostu{
    h3{
        font-size: 13px;
    }
}
    .contactodondeencontrarnos{
    h3{
        font-size: 13px;
    }
    h4{
        font-size: 11px;
    }
}
}