@media screen and (max-width: 350px) {
    .titulosecundario {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    .welcome{
        p {
            font-size: 16px;
    }
        h2{
            font-size: 16px;
        }
    }
    .hero{
        a{
            font-size: 12px;
        }
    }
    .nosotros{
        p{
            font-size: 14px;
        }
    }
    .productos{
        h2{
            font-size: 20px;
        }
    }
    header{
        h1{
            font-size: 36px;
        }
    }
    }
