@media screen and (max-width: 492px) {
    .nosotros p{
        font-size: 18px;
        text-align: center;
    }
    .hero p{
        font-size: 20px;
        text-align: center;
    }
    .lugares{
        div{
            width: 300px;
        }
    }
}