.container{
    background-color: $color-terciario;
}

footer{
    h2{
        color: $color-secundario;
    font-size: 40px;
    }
}

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}