header{
    background-color: rgb(124, 144, 112);
    position: sticky; 
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 1;
        h1{
        color: rgb(3, 17, 1);
    font-size: 90px ;
    font-family: 'Tilt Prism', cursive;
    font-weight: 400;
    text-align: center;
        }
        nav{
            ul{list-style: none;
                color:rgb(3, 17, 1) ;
                display: flex;
            li {
                margin: 10px;
            }
            a{
                text-decoration: none;
                color: black; 
            }
            }
        }
}