header{
        @include flexheader;
        h1{
            @include headerh1;
    }
        nav{
            ul{
                @include headerul;
            }
            li {
                @include headerli;
                transition: 1s;
                &:hover{
                    transform: scale(1.3);
                    text-align: center;
                }
            }
            a{
                @include headera
            }
            }
        }
