//! VARIABLES

$color-pincipal: rgb(124, 144, 112);
$color-secundario: rgb(254, 232, 176);
$color-terciario: rgb(249, 123, 34);


//! LISTAS
$colores: black, white, rgb(2, 51, 2), rgb(3, 17, 1);
$font-size: 10px,12px,14px,16px,18px,20px,30px,40px,60px;